/* Asynctive Web Admin Control Panel Stylesheet */

.error
{
	color: #ff0000;
}

.success
{
	color: #00bb00;
}

div label
{
	display: block;
}

input.error
{
	display: inline-block;
}

label.error
{
	display: inline-block;
	color: #ff0000;
	margin-left: 20px;
	font-weight: normal;
}

main
{
	padding: 25px;
}

h3
{
	margin-bottom: 50px;
}

form fieldset
{
	border: 1px groove #999999;
	width: inherit;
	padding: 10px;
	margin-bottom: 2em;
}

form fieldset legend
{
	font-size: 1.5em;
	width: auto;
	margin: 0;
	border-bottom: none;
}
